*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    position: relative;
}

.arrow-btn-div{
    position:sticky;
    z-index: 1;
    top: 700px;
    left: 96%;
}

.arrow-btn{
    position: static;
}

nav{
    margin: 0% 1% 0% 1%;
}

.logo{
    padding: 0.5%;
}

.first-ddd:hover .first-dd{
    display: block;
}

.first-dd{
    display: none;
    position: absolute;
}

.second-ddd:hover .second-dd{
    display: block;
}

.second-dd{
    display: none;
    position: absolute;
}

.login{
    border-radius: 0% 40% 0% 40%;
    margin: 0% 2%;
}


.Discover{
    font-size:larger;
    font-weight: 1000;
    font-size: larger;
    padding: 1% 40% 1% 40%;
}

.search-input{
    border-radius: 20%;
}

.search-icon{
    background-color: rgb(171, 121, 138);
    border-radius: 50%;
}

.flex1{
    padding-top: 4%;
    gap: 1%;
}

.bg-pink {
    background-color: rgb(210, 199, 201);
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
    padding: 2% 5%;
}

.cart{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.cart-img{
    width: 130%;
    height: auto;
    border-radius: 10%;
}

.cart-img2{
    width: 20px;
    height: auto;
    border-radius: 50%;
}


.cart-inner-flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 120%;
}

.cart-bottom-left-flex{
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    gap: 3px;
}

.cart-bottom-right-flex{
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
    gap: 3px;
}

.signup-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:7% 0%;
}

.signup{
    border-radius: 20%;
    background-color: black;
    color: aliceblue;
    padding: 1% 2%;
}

.slideshow{
    width: 100%;
    scrollbar-width: none;
}

.slide-div{
    display: inline-block;
    flex-direction: column;
    width: 16%;
}

.slide-img{
    width: 100%;
    height: auto;
}

.slide-cart{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.slide-cart > span{
    margin: 5% 0%;
    color: black;
}

.bottom-div{
    margin: 2% 10%;
    display: flex;
    align-content: center;
    gap: 5%;
}

.contact{
    display: flex;
    justify-content: space-between;
}